
{# empty Twig template #}
{% import "form.macro.twig" as forms %}

{% set web_base = constant('WEB_BASE') %}

{% set arr = {'live': get_setting('ipay_payments_live')|default('1')} %}
{% set arr = arr|merge({'mpesa': get_setting('ipay_payments_mpesa')|default('1')}) %}
{% set arr = arr|merge({'airtel': get_setting('ipay_payments_airtel')|default('1')}) %}
{% set arr = arr|merge({'equity': get_setting('ipay_payments_equity')|default('1')}) %}
{% set arr = arr|merge({'mobilebanking': get_setting('ipay_payments_mobilebanking')|default('1')}) %}
{% set arr = arr|merge({'debitcard': get_setting('ipay_payments_debitcard')|default('1')}) %}
{% set arr = arr|merge({'creditcard': get_setting('ipay_payments_creditcard')|default('1')}) %}
{% set arr = arr|merge({'mkoporahisi': get_setting('ipay_payments_mkoporahisi')|default('1')}) %}
{% set arr = arr|merge({'saida': get_setting('ipay_payments_saida')|default('1')}) %}
{% set arr = arr|merge({'autopay': get_setting('ipay_payments_autopay')|default('1')}) %}
{% set arr = arr|merge({'oid':  payment.id }) %}
{% set arr = arr|merge({'inv':  payment.id }) %}
{% set arr = arr|merge({'ttl': gateway.total_amount|round(0, 'ceil') }) %}
{% set arr = arr|merge({'tel': user.phone|default('020232323')|replace({' ': "", '-': ""}) }) %}
{% set arr = arr|merge({'eml': user.email }) %}
{% set arr = arr|merge({'vid': get_setting('ipay_payments_vendor_ref')}) %}
{% set arr = arr|merge({'curr': get_setting('ipay_payments_vendor_currency')}) %}
{% set arr = arr|merge({'p1': 'mpesa'}) %}
{% set arr = arr|merge({'p2': ''}) %}
{% set arr = arr|merge({'p3': ''}) %}
{% set arr = arr|merge({'p4': ''}) %}
{% set arr = arr|merge({'cbk':  web_base ~'/ipay/payments/notify' }) %}
{% set arr = arr|merge({'lbk':  web_base ~'/ipay/payments/return' }) %}
{% set arr = arr|merge({'cst': '1'}) %}
{% set arr = arr|merge({'crl': '0'}) %}


{% set datastring = arr.live ~ arr.oid ~ arr.inv ~ arr.ttl ~ arr.tel ~ arr.eml ~ arr.vid ~ arr.curr ~ arr.p1 ~ arr.p2 ~ arr.p3 ~ arr.p4 ~ arr.cbk ~ arr.cst ~ arr.crl  %}
{% set hashkey = get_setting('ipay_payments_vendor_hashcode') %}
{% set hashid = hash_hmac('sha1', datastring, hashkey) %}

{% set arr = arr|merge({'hsh': hashid}) %}
{% set arr = arr|merge({'cbk': arr.cbk|url_encode }) %}
{% set arr = arr|merge({'lbk': arr.lbk|url_encode }) %}

{% set url = '' %}
{% for key,param in arr %}
    {% if key %}
        {% set url =url ~ '&' ~ key ~ '=' ~ param %}
    {% else %}
        {% set url = url ~ key ~ '=' ~ param %}
    {% endif %}
{% endfor %}

{% set url = url|join() %}

{#
<iframe src="https://www.ipayafrica.com/payments?{{ url }}" width="100%" height="800px"></iframe>

#}

<input class="payment_url" type="hidden" name="payment_url" value="https://payments.ipayafrica.com/v3/ke?{{ url }}" title='Pay with Mpesa'>

<center>
    <a class="process-payment" href="#" title="Complete Payment">
        <button class="btn btn-success btn-flat btn-sm" type="submit" name="Complete Payment">
            <i class="fa fa-arrow-right"></i>
            Pay & Continue
        </button>
    </a>
</center>




